$primary-color: darkgrey;
$secondary-color: orange;
$font-size: 30px;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

@function set-text-color($color) {
  @if (lightness($color) < 40%) {
    @return black;
  } @else {
    @return white;
  }
}
